@model IEnumerable<autocarrs.Models.OrderMaster>
@*@if (Model != null)
{*@
<div class="modal fade" id="loginform">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">Login</h3>
            </div>
            <div class="modal-body">
                <div class="login_wrap">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <form action="~/Account/Login" method="post">
                                <div class="form-group">
                                    <input type="text" name="UserId" id="UserId" class="form-control" placeholder="Username or Email address*">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="UserPassword" id="UserPassword" class="form-control" placeholder="Password*">
                                </div>
                                <div class="form-group checkbox">
                                    <input type="checkbox" id="remember">
                                    <label for="remember">Remember Me</label>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Login" id="login" class="btn btn-block">
                                    <div class="form-group">

                                        @if (Model is autocarrs.Models.Error)
                                        {
                                            Html.RenderPartial("Error");
                                        }
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <h6 class="gray_text">Login the Quick Way</h6>
                            <a href="Account/LoginWithFaceBook" class="btn btn-block facebook-btn"><i class="fa fa-facebook-square" aria-hidden="true"></i> Login with Facebook</a>
                            <a href="#" class="btn btn-block twitter-btn"><i class="fa fa-twitter-square" aria-hidden="true"></i> Login with Twitter</a>
                            <a href="#" class="btn btn-block googleplus-btn"><i class="fa fa-google-plus-square" aria-hidden="true"></i> Login with Google+</a>
                            @*<a href="#" class="btn btn-block linkedin-btn"><i class="fa fa-linkedin" aria-hidden="true"></i> Login with LinkedIn</a>*@
                            <a href="#" class="btn btn-block instagram-btn"><i class="fa fa-instagram" aria-hidden="true"></i> Login with Instagram</a>
                        </div>
                        <div class="mid_divider"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-center">
                <p>Don't have an account? <a href="#signupform" data-toggle="modal" data-dismiss="modal">Signup Here</a></p>
                <p><a href="#forgotpassword" data-toggle="modal" data-dismiss="modal">Forgot Password ?</a></p>
            </div>
        </div>
    </div>
</div>
    
    @*<div class="modal-body">
        <div class="login_wrap">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                        <h2><span>Your Cart </span></h2>
                    </div>

                </div>
            </div>
        </div>
    </div>*@
@*}
else
{
    <div class="form-group">
        <h2><span>User is not registered </span></h2>
    </div>
}*@
